exportPattern("^[^\\.]")
S3method("predict", "randomGLM")
import(MASS, foreach, doParallel, Hmisc, survival, geometry, matrixStats)
importFrom("stats", "binomial", "cor", "formula", "glm", "lm",
     "predict", "sd", "var", "as.formula", "gaussian", "median", "poisson",
     "residuals")
importFrom("parallel", "makeCluster", "stopCluster", "detectCores", "clusterExport", "clusterCall", "makePSOCKcluster")

